<MarketplaceDetails>
  <SmallAppTile>ApplicationIcon.png</SmallAppTile>
  <ScreenShots>Login1.png;Project List1.png;Features1.png;Project Detail1.png;Issue List1.png;Profile1.png;Settings1.png;;</ScreenShots>
  <ScreenShotsWXGA>Login.png;Project List.png;Features.png;Project Detail.png;Issue List.png;Issue Detail.png;Profile.png;Settings.png;</ScreenShotsWXGA>
  <ScreenShots720P>Login720.png;Project List720.png;Features720.png;Project Detail720.png;Issue List720.png;Issue Detail720.png;Profile720.png;Settings720.png;</ScreenShots720P>
</MarketplaceDetails>